body {
  margin: 0;
  padding: 0;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.submitbtn {
  margin-bottom: 20px;
}

.pmwrapper {
  height: 200px;
}

.pm {
  height: 200px;
  overflow: scroll;
  overflow-x: hidden; 

}

.deletePost{
 float: right;
}

.backPost {
  float: left;
}

.createdAt {
  opacity: 0.5;
}
